.overlay {
    position: fixed;
    top: 30%;
    left: 50%;
    width: 40%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(100, 100, 100, 0.8);
    color: white;
    padding: 20px;
    z-index: 1000;
    border-radius: 10px;
    font-size: 2em;   
}

.hidden {
    display: none;
}

.visible {
    display: block;
}